@keyframes safeHome {
    0%{background-image: url('../assets/images/safe_home_properties_garden1.jpg');}
    20%{background-image: url('../assets/images/safe_home_properties_garden2.jpg');}
    40%{background-image: url('../assets/images/safe_home_properties_garden3.jpg');}
    60%{background-image: url('../assets/images/safe_home_properties_garden4.jpg');}
    80%{background-image: url('../assets/images/safe_home_properties_garden5.jpg');}
    100%{background-image: url('../assets/images/safe_home_properties_garden1.jpg');}
}

.hero{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    animation-name: safeHome;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@media screen and (max-width: 768px) { 
    .hero{
        background-size: cover;
        height: 400px;
            border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;

    }
}